{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4 bg-light" >
    <div class="row" style="height: 90vh;">
        <div class="col-md-3 p-3 border-end" >
            {% for note in notes %}
            <a href="#" 
                class="text-decoration-none text-dark note-link"
                data-title="{{ note.title }}"
                data-text="{{ note.text }}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ note.title }}</h5>
                        <a href="{% url 'update note' note.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete note' note.id %}" class="btn btn-danger" onclick="return confirm('Are you sure, you want to delete {{note.title}}?')">Delete</a>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        <div class="col-md-7 p-3 border-end" style="word-wrap: break-word;">
            <h2 id="title"></h2>
            <span id="text" style="white-space: pre-wrap;"></span>
        </div>
        <div class="col-md-2 p-3" style="display: flex; flex-direction: column; height: 100%;">
            <a href="{% url 'create note' %}" class="btn btn-primary">Create note</a>
            <div style="margin-top: auto;">
                <p>Hello, {{ request.user.username }}!</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.note-link').forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const title = this.dataset.title;
            const text = this.dataset.text;

            document.getElementById('title').textContent = title;
            document.getElementById('text').textContent = text;
        });
    });
</script>
{% endblock %}
